# analysis options
# forbidden="loc(car1)==communicate & loc(car2)==communicate & abs(car1_x -car2_x) +abs(car1_y -car2_y) <0.5"
system = "system"
initially = "loc(car1)==communicate & car1.x==0 & car1.y==13 &  car1.v==0 & car1.t==0 & car1.angle==0.2 & car1.u1 == [-0.523,0.523] & car1.u2 == [-0.3,0.3] & car1.fuel == 0 & car1.z == 0"
forbidden="(car1_x >= 0 && car1_x <= 19 && car1_y >= 18) || (car1_x >= 0 && car1_x <= 19 && car1_y <= 3) || (car1_x > 8 && car1_x < 13 && car1_y > 10 && car1_y < 10.5)"
iter-max = 5
rel-err = 1.0e-12
abs-err = 1.0e-13
obj_function = "abs(car1_x-14)+abs(car1_y-10)+ 0.01 * car1_fuel"
feasible_fun = "abs(car1_x-14)+abs(car1_y-10)"
staytime4loc = "true"
addInit = "false"
